.card1{
    background-color: lightblue;
}

table {
    border:1px solid black ;
    padding: 6px;
    text-align: center;
  
    width:100%;

    th{
        border:1px solid black ;
        padding: 6px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        height: 350px;
    }
    td{
        border:1px solid black ;
        padding: 6px;
        text-align: center;
        
        height: 150px;
    }
    
    span{
        background-color: blue;
        color: white;
        padding: 7px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        text-align: center;
      }
  }
  