button{
    background-color: brown;
    color: white;
    border: 0px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    text-align: center;
    margin-left: 80px;
    font-size: 30px;
}